<% if logged_in? %>



<div class="row">
  <aside class="col-sm-2">
<%= render 'users/aside' %>
  </aside>
  <div class="col-sm-10">
    <div class="f-container">
      <div class="mr-4">
        <img class="rounded-circle img-fluid" src="<%= gravatar_url(current_user, { size: 120 }) %>" alt="">
      </div>
      <div class="left">
        <h1>Let's try memo
          <span>
            <%= link_to memos_new_path do %>
            <span class="pencil-alt 2x my-gray">
              <%= fa_icon("pencil-alt") %>
            </span>
          <% end %>
          </span>
        </h1>
      </div>
    </div>
    
    <div class="siinas">
      <%= current_user.name %>
    </div>
  <%= render "memos/memos", memos: @memos %>
  </div>
</div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>
