<% if logged_in? %>

  <p><%= current_user.name %></p>

<div class="text-right">
    <h1>Let's try memo</h1>
</div>
    <p>✏︎</p>

<div class="row">
  <aside class="col-sm-3"
  <ul class="nav flex-column" style="list-style: none;">
    <li class="nav-item">
<!-- これがTOPボタン -->
<%= link_to "TOP", root_path, class: "btn btn-lg btn-primary" %>
    </li>
    <li class="nav-item">
<!-- これがユーザー一覧ボタン -->
<%= link_to "一覧", users_path, class: "btn btn-lg btn-primary" %>
    </li>
    <li class="nav-item">
<!-- これが新規メモ作成画面ボタン -->
<%= link_to "✏︎", root_path, class: "btn btn-lg btn-primary" %>
    </li>
    <li class="nav-item">
<!-- これがお気に入りメモ一覧ボタン -->
<%= link_to "♡",  root_path, class: "btn btn-lg btn-primary" %>
    </li>
    <li class="nav-item">
<!-- これがログアウトボタン -->
<%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-lg btn-primary" %></li>
  </ul>
  </aside>
  <div class="col-sm-9">
  <%= render "memos/memos", memos: @memos %>
  </div>
</div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>
