<ul class="list-unstyled">
  <% memos.each do |memo| %>
    <li class="media mb-3">
        <img class="mr-2 rounded-circle" src="<%= gravatar_url(memo.user, { size: 50 }) %>" alt="">
        <div class="medeia-body">
            <div>
                  <%= link_to memo.user.name, user_path(memo.user), class: "text-dark" %>
                <span class="text-muted"><%= memo.created_at.strftime('%Y/%m/%d') %></span>
              <div>
                <%= link_to memo.title, memo %>
                <% if current_user == memo.user %>

                <%= link_to memo, method: :delete, data: { confirm: "You sure?" }, class: "text-decoration-none" do %>
                 <i class="far fa-trash-alt my-gray text-decoration-none fa-fw"></i>
                <% end %>
                 <% end %>

                
            <div class="yokonarabi">
            <%= render "favorites/favorite_button", memo: memo %>
            </div>
        </div>
    </li>
  <% end %>
  <%= paginate memos %>
</ul>